.servicesContainer {
  margin-top: 10vh;
}

.firstServices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstServices h1 {
  color: #103228;
  font-weight: 500;
  margin-bottom: 0;
}
.firstServices p {
  color: #103228;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
.firstServices button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  background-color: #16614d;
  color: white;
  margin-top: 25px;
}
.firstServices img {
  width: 60%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.secondServices {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondServices h2 {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  color: #103228;
  margin: 0;
}
.secondServices p {
  color: #103228;
  font-weight: 400;
}
.modelsContainer {
  display: flex;
  justify-content: center;
}
.model {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 25%;
  text-align: center;
}

.model img {
  width: 40px;
}
.model h3 {
  color: #15614e;
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
}
.secondServices button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  background-color: #103228;
  color: white;
  margin-bottom: 50px;
}

.squareContainer {
  display: flex;
  flex-direction: column;
}

.topSquare {
  display: flex;
  height: 50vh;
}

.bottomSquare {
  display: flex;
  height: 50vh;
}

.topSquare img {
  width: 50%;
  object-fit: cover;
}

.bottomSquare img {
  width: 50%;
  object-fit: cover;
}

.topLeftSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #113229;
  padding: 50px;
  color: white;
}

.bottomRightSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #16614d;
  padding: 50px;
  color: white;
}

.topLeftSquare h2,
.bottomRightSquare h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.topLeftSquare p,
.bottomRightSquare p {
  margin: 50px 0;
}

.topLeftSquare button,
.bottomRightSquare button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 450;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  color: #113229;
  width: 145px;
}

.ratesContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ratesContainer h2 {
  font-size: 50px;
  font-weight: 500;
  color: #103228;
  margin-bottom: 0;
}
.ratesContainer .title {
  color: #103228;
  margin-top: 0;
  margin-bottom: 40px;
}

.rates {
  display: flex;
  justify-content: center;
  align-items: end;
}

.rates .infos {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  padding-right: 20px;
}
.info {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gras {
  font-size: 20px;
  color: #103228;
  font-weight: 400;
  margin: 0;
}

.fin {
  font-size: 16px;
  color: #103228;
  margin-top: 0;
  margin-bottom: 0px;
  font-weight: 300;
}

.ratesContainer button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  background-color: #103228;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
}

.compareContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.compareContainer h2 {
  font-size: 50px;
  font-weight: 500;
  color: #103228;
}

.bannerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #16614d;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 50px;
}

.bannerContainer .title {
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
}

.bannerContent {
  display: flex;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.banner p {
  margin-left: 5px;
}

.tableontainer {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 100%;
}

.tableContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px rgb(228, 228, 228);
  border-radius: 10px;
  background-color: white;
}

.tableOne,
.tableTwo,
.tableThree,
.tableFour,
.tableEssentielPremium {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 260px;
  min-height: 70px;
}

.tableOne {
  border-bottom: solid 1px rgb(228, 228, 228);
}

.tableThree {
  border-bottom: solid 1px rgb(228, 228, 228);
  border-top: solid 1px rgb(228, 228, 228);
}

.tableTitle {
  background-color: #ddf3ff;
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 5px 10px;
  border-radius: 10px;
}

.tableOne .price {
  font-size: 25px;
  font-weight: 500;
}
.tableOne .green {
  color: #15614e;
  margin-top: 5px;
}

.bold {
  font-weight: 500;
}

.tableTwo {
  color: #d0d6d4;
}
.tableTwo img,
.tableEssentielPremium img {
  width: 20px;
  margin-top: 15px;
}

.tableTitleEssentiel {
  background-color: #16604d;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 5px 10px;
  border-radius: 10px;
}

.tableEssentiel {
  color: black;
}

.tableTitlePremium {
  background-color: black;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 5px 10px;
  border-radius: 10px;
}

.height {
  height: 80px;
}

.tableInfos {
  display: flex;
  flex-direction: column;
}

.tableInfos .info {
  box-sizing: border-box;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  margin-right: 15px;
  font-size: 15px;
  color: #103228;
  font-weight: 500;
}
.caution {
  color: #103228;
  margin-top: 50px;
}

.compareContainer button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 500;
  font-family: inherit;
  font-size: 14px;
  cursor: pointer;
  background-color: #103228;
  color: white;
  margin-top: 40px;
  margin-bottom: 50px;
}
