.homeStart {
  position: relative;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
}

.homeTitle {
  position: absolute;
  bottom: 100px;
  left: 50px;
}

h1 {
  color: white;
  font-size: 60px;
  margin-bottom: 15px;
  font-weight: 400;
}

.homeTitle p {
  color: white;
  margin: 0;
  font-weight: 500;
  font-size: 18px;
}

.homeTitle button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 450;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  background-color: #f0c04a;
  margin-top: 20px;
}

.orderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderContainer h2 {
  font-size: 50px;
  font-weight: 400;
  color: #113229;
}

.orderFlex {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.orderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.number {
  width: 35px;
}

.orderContent h3 {
  font-size: 30px;
  font-weight: 500;
  color: #27705d;
  margin: 15px 0;
}

.orderContent p {
  margin: 0;
  color: #103228;
}

.orderContainer button {
  background-color: #113229;
  color: white;
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 450;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  margin: 50px 0;
}

.discoverContainer h3 {
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  color: #113229;
  margin-bottom: -100px;
}

.discoverText {
  text-align: center;
  color: #113229;
  margin-top: -100px;
}

.discoverText span {
  font-weight: 700;
}

.discoverText button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 450;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: #113229;
  margin-top: 15px;
  margin-bottom: 50px;
}

.carouselContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.carouselItem {
  transition: transform 5s ease-in-out;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  text-align: center;
  width: 45%;
}

.carouselButton {
  position: absolute;
  top: 50%;
  background-color: rgba(100, 100, 100, 0.5);
  color: black;
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  z-index: 10;
  width: 70px;
  height: 70px;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.squareContainer {
  display: flex;
  flex-direction: column;
}

.topSquare {
  display: flex;
  height: 50vh;
}

.bottomSquare {
  display: flex;
  height: 50vh;
}

.topSquare img {
  width: 50%;
  object-fit: cover;
}

.bottomSquare img {
  width: 50%;
  object-fit: cover;
}

.topLeftSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #113229;
  padding: 50px;
  color: white;
}

.bottomRightSquare {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #16614d;
  padding: 50px;
  color: white;
}

.topLeftSquare h2,
.bottomRightSquare h2 {
  font-size: 50px;
  font-weight: 400;
  margin: 0;
}

.topLeftSquare p,
.bottomRightSquare p {
  margin: 50px 0;
}

.topLeftSquare button,
.bottomRightSquare button {
  padding: 10px 25px;
  border-radius: 30px;
  border: none;
  font-weight: 450;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  margin-top: 20px;
  color: #113229;
  width: 145px;
  text-align: center;
}
