.discoverContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.bikePicture {
  height: 300px;
}

.bikeName {
  font-size: 25px;
  margin-bottom: 0;
  color: #113229;
  font-weight: 500;
}

.bikeText {
  font-size: 14px;
  margin-top: 0;
}

.borderRound {
  border: solid 2px #113229;
  border-radius: 50px;
  padding: 5px;
}

.blackRound {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  background-color: black;
  border: solid 1px #113229;
  padding: 5px;
}
